#main-content, #about, #projects .container-wrapper {
    background-color: var(--portfolio);
    color: var(--text);
}

#intro {
    color: var(--text);
    clip-path: ellipse(134% 100% at 41.05% 0%);
}

#intro, #tech-stack, #projects, #contact {
    background-color: var(--secondary);
    color:var(--text);
}

#about, #projects, #projects .container-wrapper {
    color:var(--text-inverse);
}

#tech-stack {
    clip-path: ellipse(197% 94% at 50% 94%);

    @media (min-width:1024px){
        padding:11.5rem 0;
    }
}

#projects {
    padding-top:3rem;
}

#projects .container-wrapper {
    clip-path: ellipse(197% 94% at 50% 94%);

    @media (min-width:1024px){
        padding: 3rem 0;
    }
}
