.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: grid;
}

#social-media {
    position: fixed;
    bottom:0;
    z-index: 1;

    .icons {
        background-color: var(--secondary);
        border-radius: 5px;
    }
}

#intro .hero {
    align-items: center;
    min-height: calc(90vh - 60px);

    .img {
        width: 82%;
        filter: drop-shadow(19px 4px 6px black);
    }

    &-title,
    &-subtitle {
        font-weight: 300;
    }

    p {
        text-align: center;
        font-size: clamp(1.2rem, 7vw, 2rem);
        padding-top: 1rem;
        padding-bottom: 0.4rem;
    }

    @media (min-width:1024px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 300px;
        grid-template-areas:
            "content img"
            "explore explore";
        justify-items: center;
        align-items: center;

        &-content {
            grid-area: content;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1rem;
        }

        .img {
            grid-area: img;
            width: 60%;
        }

        .explore-wrapper {
            grid-area: explore;
        }
    }
}

#about .container {
    min-height: 70vh;
    display: grid;
    align-items: start;
    grid-template-areas:
        "heading"
        "content"
        "img"
        "explore";

    @media (min-width:1024px) {
        grid-template-areas:
            "heading img"
            "content img"
            "explore explore";
    }

    &-title {
        grid-area: heading;
        align-self: end;
        text-align: start;
    }

    &-content {
        grid-area: content;

        @media (min-width:1024px) {
            padding-right: 2rem;
        }
    }

    .img {
        grid-area: img;
        justify-self: center;
        align-self: center;
        max-width: 30rem;
        border-radius: 5px;
        filter: drop-shadow(2px 4px 6px black);
    
    }

    .explore {
        grid-area: explore;
    }
}

#contact .container {
    &-title {
        margin: 0;
    }

    & p {
        padding: 0.4rem;
        font-size: clamp(1.2rem, 5vw, 1.8rem);
    }

    .icons {
        padding-top: 2rem;

        i {
            font-size: 3rem;
        }
    }
}

#tech-stack .hero {
    background-color: inherit;

    .sticky {
        position: sticky;
        top: 48px;
        background-color: inherit;
    }

    &-title {
        font-size: clamp(3.2rem, 13vw, 10rem);
    }

    @media (min-width:1024px) {
        grid-template-columns: 1fr 1fr;
        padding: 10rem 0;
        justify-items: center;
        height: 100%;

        &-title {
            position: sticky;
            top: 30%;
            padding-bottom: 0;
            line-height: 113px;
        }

    }
}

.footer {
    background-color: var(--secondary);
    color: var(--text);
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    align-items: center;
}