@import '_components';

.container,
.hero {
    display: flex;
    flex-direction: column;

    &-title,
    &-subtitle {
        text-align: center;
        padding-bottom: 0.2rem;
    }
}

.hero {
    padding-top: 3.35rem;

    &-content {
        padding-top: 2rem;
    }

    @media (min-width:1024px) {
        display: grid;
        padding-top: 0;

        &-content {
            padding: 0;
        }
    }
}

.container {
    margin: auto;
    padding: 3.8rem 1rem;
    max-width: 1400px;
    align-items: center;

    &-title {
        margin-bottom: 0.4rem;
    }

    &-content p {
        line-height: 1.5;
        margin-bottom: 1rem;
    }
}
